{% extends 'base.html' %}


{% block content %}


<section class="py-4 text-center container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{{ blog.title }}</h1>
        <p class="lead text-muted">{{ blog.body }}</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="{% url 'blog:delete' blog.id %}" class="btn btn-danger my-2">Delete</a>
        </p>
      </div>
    </div>
  </section>


  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">



      </div>
    </div>
  </div>
{% endblock %}